/* ----------------------
    Stile Video gallery
-------------------------*/
.group_videos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: solid 3px;
    margin: 5px 5px 0 5px;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
    background-color:#FFCC80; 
}

video{
    border-radius: 10px;
    width: 300px;
}

/* ----------------------------------------------------------------
    Responsive Design per adattare il layout ai dispositivi mobile
------------------------------------------------------------------- */
@media (max-width: 768px) {
    
    .group_videos {
        grid-template-columns: 1fr; 
        gap: 20px;
        margin-top: 0;
        padding: 10px;
    }

    video {
        width: 100%; /* Ogni video si adatta alla larghezza dello schermo */
        max-width: 400px; /* Evita che il video diventi troppo grande su tablet */
        margin: 0 auto;
    }
}